html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background-color: steelblue;
  color: white;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.head--title {
  font-size: 32px;
  font-weight: bold;
}

.head--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.head--content > div:nth-child(1) {
  display: flex;
  gap: 8px;
  font-size: 24px;
}

.emoji {
  background-image: url("./apple-music.png");
  width: 32px;
  height: 32px;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.main--content {
  text-align: center;
}

.main--strong,
.main--button {
  font-size: 28px;
  font-weight: bold;
}

.main--strong {
  color: tomato;
  animation: rainbow 2s ease-in infinite;
}

.main--button {
  width: fit-content;
  padding: 10px 20px;
  background-color: tomato;
  border-radius: 12px;
  cursor: pointer;
  transition: all;
  transition-duration: 0.2s;
}

.main--button:hover {
  background-color: skyblue;
}

@keyframes rainbow {
  0% {
    color: rgb(206, 110, 110);
  }

  25% {
    color: rgb(62, 82, 213);
  }

  50% {
    color: rgb(223, 202, 62);
  }

  75% {
    color: rgb(62, 82, 213);
  }

  100% {
    color: rgb(206, 110, 110);
  }
}
